@use "sass:map" as *;

$direction-reverse: (
    top: bottom,
    right: left,
    bottom: top,
    left: right
);

$direction-translate: (
    top: translateX(-50%),
    right: translateY(-50%),
    bottom: translateX(-50%),
    left: translateY(-50%)
);



@mixin arrow($direction) {
    $reverse-direction: get($direction-reverse, $direction);
    $translate: get($direction-translate, $direction);
    content: "";
    position: absolute;
    border: 20px solid transparent;

    @if $direction ==top or $direction ==bottom {
        left: 50%;
        transform: $translate;
    }

    @else {
        top: 50%;
        transform: $translate;
    }

    #{$direction}: -40px;
    border-#{$reverse-direction}-color: red;
}

.element {
    &:before {
        @include arrow("left");
    }
}

// Output

// .element:before {
//     content: "";
//     position: absolute;
//     border: 20px solid transparent;
//     left: 50%;
//     transform: translateX(-50%);
//     top: -40px;
//     border-bottom-color: red;
// }

// /////////////////////////////

// .element {
//     &:before {
//         @include arrow("right");
//     }
// }

// // Output

// .element:before {
//     content: "";
//     position: absolute;
//     border: 20px solid transparent;
//     top: 50%;
//     transform: translateY(-50%);
//     right: -40px;
//     border-left-color: red;
// }

// /////////////////////////////

// .element {
//     &:before {
//         @include arrow("bottom");
//     }
// }

// // Output

// .element:before {
//     content: "";
//     position: absolute;
//     border: 20px solid transparent;
//     left: 50%;
//     transform: translateX(-50%);
//     bottom: -40px;
//     border-top-color: red;
// }

// /////////////////////////////

// .element {
//     &:before {
//         @include arrow("left");
//     }
// }

// // Output

// .element:before {
//     content: "";
//     position: absolute;
//     border: 20px solid transparent;
//     top: 50%;
//     transform: translateY(-50%);
//     left: -40px;
//     border-right-color: red;
// }