// Control Flow => If And Else

$theme: "dark";

.page {
    @if $theme =="light" {
        background-color: white;
        color: #444;
    }

    @else {
        background-color: #444;
        color: white;
    }
}

$rounded: true;

.box {
    // border-radius: if($rounded ==false, 6px, null);
    border-radius: if($rounded, 6px, null);
}