$names: "books" 20px red 18,
    "games" 30px green 18,
    "dvds" 20px blue;

@each $name, $padding, $color, $font-size in $names {
    .#{$name} {
        padding: $padding;
        font-size: if($font-size ==null, 16px, $font-size);
        border-bottom: 2px solid $color;
        color: #444;
    }
}

// Output

// .books {
//     padding: 20px;
//     font-size: 18px;
//     border-bottom: 2px solid red;
//     color: #444;
// }

// .games {
//     padding: 30px;
//     font-size: 18px;
//     border-bottom: 2px solid green;
//     color: #444;
// }

// .dvds {
//     padding: 20px;
//     font-size: 16px;
//     border-bottom: 2px solid blue;
//     color: #444;
// }