// Property Declarations And Placeholder

.box {
    font-size: 20px;

    font: {
        size: 15px;
        weight: bold;
    }

    padding: 10px;

    margin: auto {
        top: 10px;
        bottom: 15px;
    }
}

%main-box {
    background-color: white;
    padding: 15px;
    border: 1px solid #ccc;
}

.ads {
    @extend %main-box;
    font-size: 20px;
    color: red;
}

.article {
    font-size: 22px;
    @extend %main-box;
    color: green;
}